<h2>Sign Up for TV Show Tracker</h2>
<h3><strong><%= button_to "Sign Up via Github", '/auth/github' %></strong></h3>
<br>
<h3>Or enter your sign up info below:</h3>



<%= render partial: "form" %>

<br><br>

<h3>Already have an account? <%= button_to "Log In", login_path, method: :get %></h3>